<!DOCTYPE html>
<html>
<head>
  <title>'Asian sweatshop'</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/ng-module.js"></script>
  <script src="/js/dependencies/angular-cookies.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular_modules/SessionModule.js"></script>
  <script src="/js/dependencies/angular_modules/header.js"></script>
  <script src="/js/dependencies/angular_modules/identity.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/simpleCart.js"></script>
  <script src="/js/private/UsersModule.js"></script>
  <script src="/js/private/dashboard/DashboardModule.js"></script>
  <script src="/js/public/homepage/HomepageModule.js"></script>
  <!--SCRIPTS END-->
  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
  <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me:<%- JSON.stringify(me) %>
    };
  </script>
</head>
<body>
<%- body %>
<div class="container">
  <hr>
  <footer class="footer pull-right">
    <div>
      <a href="https://github.com/wontheone1">Won's github page</a>

      <div>Web programming 2015, final project by Anh, Won</div>
    </div>
  </footer>
</div>

</body>
</html>
