<div id="all" ng-app="ItemModule" ng-cloak>
<%- partial('../layouts/header') %>

  <!--<div class="col-md-8 col-md-offset-2" ng-controller="ItemController">-->
    <!--<h2 class="col-md-4">{{ item.name }}</h2>-->
    <!--<div class="col-md-4">{{ item.price }}</div>-->
    <!--<div class="col-md-4">{{ item.description }}</div>-->
    <!--<div class="col-md-4"><button class="btn btn-primary">ADD TO CART</button></div>-->
  <!--</div>-->

  <div id="content">
  <div class="container" ng-controller="ItemController" >
    <div class="row" id="productMain">
      <div class="col-md-6">
        <div id="mainImage">
          <img ng-src="{{ item.imagePath }}" alt="" class="img-responsive center-block item_image">
        </div>
      </div>

      <div class="col-md-6">
        <div class="box">
          <h1 class="text-center item_name">{{ item.name }}</h1>
          <input class="item_id" type="hidden" data-id="{{ item.id}}" />
          <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
          </p>
          <p class="price item_price" data-price="{{ item.price }}"> €{{ item.price }} &nbsp;&nbsp;&nbsp; <input type="number" min="1" class="item_quantity" value="1" style="width:10%;"/> pcs</p>
          <p class="text-center buttons">
            <a class="btn btn-primary item_add"><i class="fa fa-shopping-cart"></i> Add to cart</a>
            <!--<a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>-->
          </p>
        </div>
      </div>
    </div>

    <div class="box" id="details">
      <p>
      <h4>Product details</h4>
      <p>{{ item.description }}</p>

      <blockquote>
        <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
        </p>
      </blockquote>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
  window.SAILS_LOCALS.item = <%- JSON.stringify(item) %>;
</script>
<script>
  var app = angular.module('ItemModule', ['SessionModule']);
  app.controller('ItemController', function($scope, $http) {
    $scope.item = window.SAILS_LOCALS.item;
  });
</script>
<script type="text/javascript" >
  $(function () {
    $('.item_add').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      var id = $(this).closest('.box').find('.item_id').data("id");
      var quantity = $(this).closest('.box').find('.item_quantity').val();
      var name = $(this).closest('.box').find('.item_name').html();
      var price = $(this).closest('.box').find('.item_price').data("price");
      var imagePath = $(document).find('.item_image').attr('ng-src');
      console.log(id);
      console.log(quantity);
      console.log(name);
      console.log(price);
      console.log(imagePath);
      simpleCart.add(
        {
          iid: id,
          quantity: quantity,
          name: name,
          price: price,
          thumb: imagePath
        });
    });
  });
</script>
