<div ng-app="ItemModule">
<%- partial('../layouts/header') %>
  <div class="col-md-8 col-md-offset-2" ng-controller="ItemController">
    <h2 class="col-md-4">{{ item.name }}</h2>
    <div class="col-md-4">{{ item.price }}</div>
    <div class="col-md-4">{{ item.description }}</div>
    <div class="col-md-4"><button class="btn btn-primary">ADD TO CART</button></div>
  </div>
</div>
<script type="text/javascript">
  window.SAILS_LOCALS.item = <%- JSON.stringify(item) %>;
</script>
<script>
  var app = angular.module('ItemModule', ['SessionModule']);
  app.controller('ItemController', function($scope, $http) {
    $scope.item = window.SAILS_LOCALS.item;
  });
</script>
