<div ng-app="ProductsModule" ng-controller="ProductsController" ng-cloak>
  <ul>
    <li ng-repeat="product in products">
      <h3>name: {{ product.name }} </h3>
      <h3>price: {{ product.price }} </h3>
      <hr>
    </li>
  </ul>
</div>
