<!-- *** FOOTER ***
 _________________________________________________________ -->
<div id="footer" data-animate="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">

        <h4>User section</h4>

        <ul>
          <li><a href="signup">Register</a>
          </li>
          <li><a href="/docs">API Documentation</a>
          </li>
        </ul>

        <hr class="hidden-md hidden-lg hidden-sm">

      </div>
      <!-- /.col-md-3 -->

      <div class="col-md-4 col-sm-6">

        <h4>Where to find us</h4>

        <p><strong>Helsinki Metropolia University of Applied Sciences</strong>
          <br>PO BOX 4000 (Bulevardi 31)
          <br>FI-00079 Metropolia
          <br>Helsinki
          <br>
          <strong>FINLAND</strong>
        </p>

        <hr class="hidden-md hidden-lg">

      </div>
      <!-- /.col-md-3 -->

      <div class="col-md-4 col-sm-6">

        <h4>Web programming 2015 Final project</h4>
        Anh and Won<br>
        <a href="https://github.com/wontheone1">Won's GitHub page</a><br>
        <a href="https://github.com/quanganhtran">Anh's GitHub page</a>

        <hr>

        <h4>Stay in touch</h4>

        <p class="social">
          <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
          <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
          <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
          <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
        </p>


      </div>
      <!-- /.col-md-3 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->
