<div  ng-app="DashboardModule" ng-controller="DashboardController" ng-cloak>
  <h1> Logged in as '<%= me.username %>' </h1>
  <hr>
  <% if (me.role === 1) { %>
  <h3>Welcome, admin!</h3>
  <% } else if (me.role === 3) { %>
  <h3>Welcome, merchant!</h3>
  <% } else { %>
  <h3>Welcome!</h3>
  <% } %>

  <h3>Selling: <%= me.sells %> </h3>
  <hr>
  <h3>Ordered: <%= me.purchases %> </h3>
  <hr>
</div>
