<div ng-controller="sessionController">
  ===========================================
  <p>Welcome to our app!</p>
  <div>{{status}}</div>
  <form novalidate ng-show="showForm">
    <span>Username</span><input ng-model="username" type="text" required><br>
    <span>Password</span><input ng-model="password" type="password" required><br>
    <button ng-click="login()">Login</button>
  </form>
  ===========================================
</div>
<script src="/js/pages/sessionModule.js"></script>
