<div ng-app="ItemModule">
<%- partial('layouts/header') %>
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>Asian sweatshop...</h1>
    <h2>...selling anything useful cheaper than the prices of the european counterparts since 1899.</h2>
    <a href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
  <div id="hot" ng-controller="ItemController">

    <div class="box">
      <div class="container">
        <div class="col-md-12">
          <h2>Featured</h2>
        </div>
      </div>
    </div>

    <!--<div class="container">-->
      <div class="product-slider">
        <div class="item" ng-repeat="i in items">
          <div class="product">
            <div class="flip-container">
              <a href="/item/{{ i.id }}">
                <img src="{{ i.imagePath }}" alt="{{ i.imagePath }}" class="center-cropped">
              </a>
            </div>
            <div class="text">
              <h3><a href="/item/{{ i.id }}">{{ i.name }}</a></h3>
              <p class="price">${{ i.price }}</p>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.product -->
        </div>
      </div>
    <!--</div>-->

  </div>
</div>
</div>
<script src="/js/pages/homepage.js"></script>
<script type="text/javascript">
  window.SAILS_LOCALS.items = <%- JSON.stringify(items) %>;
</script>
<script>
  var app = angular.module('ItemModule', ['SessionModule']);
  app.controller('ItemController', function($scope, $http) {
    $scope.items = window.SAILS_LOCALS.items;
  });
</script>
