<div ng-app="LandingModule">
<%- partial('layouts/header') %>
<div class=" col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>Asian sweatshop...</h1>

    <h2>...selling anything useful cheaper than the prices of the european counterparts since 1899.</h2>
    <a href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>
</div>
<script src="/js/pages/homepage2.js"></script>
<script src="/js/pages/signup/SignupModule.js"></script>

