<div class="container" ng-app="homepage">
<%- partial('header') %>
<div ng-controller="itemListController">
  <p>Item list</p>
  <table>
    <tr ng-repeat="i in items">
      <td>{{ i.name }}</td>
      <td>{{ i.price }}</td>
    </tr>
  </table>
</div>
</div>
<script src="/js/pages/homepage.js"></script>
