<div class="container">
  <form>
    <span>Username</span><input type="text">
    <span>Password</span><input type="password">
    <button type="submit" value="login">Login</button>
    <button type="submit" value="register">Register</button>
  </form>
</div>
