<style>
  .simpleCart_items {
    border-collapse: collapse !important;
  }
  .simpleCart_items td,
  .simpleCart_items th {
    background-color: #fff !important;
    border: 2px solid black;
    text-align: center;
  }
</style>
<script type="text/javascript">
    simpleCart.email = "pghoou@hotmail.com";
    simpleCart.cartHeaders = ['Image', 'Name', 'Price', 'Options', 'Quantity_input', 'Total'];
    simpleCart({
        // array representing the format and columns of the cart,
        // see the cart columns documentation
        cartColumns: [
            { attr: "name", label: "Name"},
            { view: "currency", attr: "price", label: "Price"},
            { view: "decrement", label: false},
            { attr: "quantity", label: "Qty"},
            { view: "increment", label: false},
            { view: "currency", attr: "total", label: "SubTotal" },
            { view: "remove", text: "Remove", label: false}
        ],

        cartStyle: "table",

        currency: "EUR",

        checkout: {
            type: "PayPal",
            email: "you@yours.com"
        }
    });
</script>
<script>
  $(document).ready(function(){
    $('.simpleCart_items').addClass('table');
  });
</script>
<div ng-app="CartModule" ng-cloak>
<%- partial('../layouts/header') %>
  <table class="table">
    <table class="simpleCart_items" style="
          overflow-y:auto;
          overflow-x:hidden;
          height:324px;
          width:243px;
          margin-bottom:20px;">
    </table>
  </table>
</div>
<script src="js/pages/CartModule.js"></script>
