<script type="text/javascript">

</script>
<div style="text-align: center; width:100%; height:100%;" ng-app="CartModule" ng-cloak>
<%- partial('../layouts/header') %>
    <table class="simpleCart_items"></table>
  <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
  <a href="#" class="checkout">Checkout</a>
  <a href="#" onclick="simpleCart.empty();return false;" class="simpleCart_empty">empty cart</a>
</div>

<script type="text/javascript" src="js/pages/CartModule.js"></script>
<script type="text/javascript" src="js/pages/simpleCartConfig.js"></script>
