<div ng-app="SessionModule" ng-cloak style="text-align: center;">
  <%- partial('../layouts/header') %>
  <div id="content">
    <div class="container">
      <div class="box">
        <h2> Your order was successful!</h2>
        <script>
          document.write('<a href="' + document.referrer + '">Go back to previous page</a>');
        </script>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    simpleCart.empty();
  </script>
</div>
<script type="text/javascript" src="/js/dependencies/angular_modules/SessionModule.js"></script>
