<div ng-app="SessionModule" ng-cloak style="text-align: center;">
  <%- partial('../layouts/header') %>
  <h2> You order was successful! </h2>
  <script type="text/javascript">
    simpleCart.empty();
  </script>
</div>
<script type="text/javascript" src="/js/dependencies/angular_modules/SessionModule.js"></script>
